* {
    padding: 1%;
    text-align: center;
}
  
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: radial-gradient(circle,  rgb(217, 241, 177) 39%, beige);
}
h1 {
    font-weight: bold;
    color: rgb(29, 43, 86); 
    font-size: 300%;
    
}

input {
    color: rgb(29, 43, 86); 
    font-size: 150%;
    background-color: rgb(255, 255, 255);
}

button {
    color: rgb(29, 43, 86); 
    font-size: 150%;
    background-color: rgb(255, 255, 255);
}

button:hover{
    background-color: rgb(220, 215, 215);
}

ul {
    font-size: 150%;
}


.box {
  border: 1px solid rebeccapurple;
  border-radius: 1em;
}

.list{
    width: 500px;
    text-align: center;
    border: 3px solid rgb(211, 211, 48);
    border-radius: 1em;
    margin-left: 380px;
    background-color: beige;
    overflow: scroll;
}